{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
        <p class="lead text-muted mb-0">S B Travels & Services have Earned the Status of the Fastest Growing Travel Management Companies in the Country. We have Made Sure that We have Everything Related to Meet the Varied Demands of Our Clients. We have Emerged as One Stop Shop Policy Designing Vacations that Will Take You to Different Parts of the Country.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-map fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Overview</h2>
        <p class="font-italic text-muted mb-4">
          Our Excellent Services Comprise of Airline Ticketing Services, Railway Ticketing Services, Passport & Visa Services, Travel Insurance Services, Cruise Services, Mice Services, Hotel Booking Services and Car & Coach Rental Services. We Organize Corporate Events and Private Events Giving the Best to the Clients.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://content3.jdmagicbox.com/comp/durg/r4/9999px788.x788.131230201335.v6r4/catalogue/s-b-holidays-bhilai-sector-2-durg-travel-agents-lzxusuqmgi.jpg" alt="" class="img-fluid mb-4 mb-lg-0 rounded"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Team</h2>
        <p class="font-italic text-muted mb-4">
          We have a Team Who Comprises of Highly Experienced Individuals Whose Efforts have Given Us a Unique Standing in the Market. Our Extensive Knowledge of the Industry Has Led Us to Deliver Exclusive Services of Our Clients. Based in Chhattisgarh (india), S B Travels & Services Was Founded in the Year 2007 with a Vision to Make Global Presence.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
